<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">　　
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>[%date] %highlight(%-5level) %blue(%logger{60}): %msg [%yellow(%t)] %n</Pattern>
    </layout>
  </appender>

  <!--  <logger name="org.apache.http" additivity="false"/>-->

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <encoder>
      <pattern>%date %level [%thread] %logger{60} [%file:%line] %msg%n</pattern>
    </encoder>
    <file>logs/app.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>logs/app.log.%i</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <MaxFileSize>32MB</MaxFileSize>
    </triggeringPolicy>
  </appender>

<!--  <appender name="MyBatis" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <file>logs/mybatis-sql.log</file>-->
<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      &lt;!&ndash; <FileNamePattern>${LOG_HOME}/logs/mybatis-sql.log.%d{yyyy-MM-dd}</FileNamePattern>&ndash;&gt;-->
<!--      <FileNamePattern>logs/mybatis-sql.log.%d{yyyy-MM-dd}</FileNamePattern>-->
<!--      <maxHistory>30</maxHistory>-->
<!--    </rollingPolicy>-->
<!--    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--      <pattern>%thread|%d{yyyy-MM-dd HH:mm:ss.SSS}|%level|%logger{36}|%m%n</pattern>-->
<!--    </encoder>-->
<!--  </appender>-->


<!--  <logger name="com.ibatis" level="DEBUG" />-->
<!--  <logger name="java.sql.ResultSet" level="DEBUG" />-->


<!--  <logger name="mybatis.sql" level="TRACE">-->
<!--    <appender-ref ref="MyBatis"/>-->
<!--  </logger>-->

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>


</configuration>
