<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="raptor.streaming.dao.mapper.SourceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="raptor.streaming.dao.entity.SourceEntity">
        <result column="id" property="id" />
        <result column="remark" property="remark" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="ip" property="ip" />
        <result column="config" property="config" />
        <result column="app_key" property="appKey" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        remark,
        creator,
        modifier,
        gmt_create,
        gmt_modify,
        name, type, ip, config, app_key
    </sql>

</mapper>
