<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="raptor.streaming.server.boot.dao.ClusterDao">
  <resultMap id="BaseResultMap" type="raptor.streaming.server.boot.dao.model.ClusterPO">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="config_file" property="configFile" jdbcType="BLOB"/>
    <result column="config_file_md5" property="configFileMD5" jdbcType="VARCHAR"/>
    <result column="config_file_name" property="configFileName" jdbcType="VARCHAR"/>
    <result column="spu_conf" property="spuConf" jdbcType="VARCHAR"/>
    <result column="cluster_conf" property="clusterConf" jdbcType="LONGVARCHAR"/>
    <result column="description" property="description" jdbcType="VARCHAR"/>
    <result column="total_nodes" property="totalNodes" jdbcType="INTEGER"/>
    <result column="total_memory" property="totalMemory" jdbcType="DOUBLE"/>
    <result column="total_cores" property="totalCores" jdbcType="INTEGER"/>

    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
    <result column="gmt_modify" property="gmtModify" jdbcType="TIMESTAMP"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, name, type, config_file, config_file_md5, config_file_name, spu_conf,cluster_conf, description, total_nodes , total_memory, total_cores, gmt_create, gmt_modify
  </sql>

  <select id="getCluster" parameterType="Map" resultType="ClusterPO">
    select
    <include refid="Base_Column_List"/>
    from cluster
    where name = #{name}
  </select>
  <select id="getAllCluster" parameterType="Map" resultMap="BaseResultMap">
    select
    id, name, type,spu_conf, description, total_nodes,total_memory,total_memory,total_cores, gmt_create, gmt_modify
    from cluster
  </select>
  <select id="getAllClusterByType" parameterType="Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from cluster
    <where>
      type = #{type}
    </where>
  </select>
  <insert id="addCluster" parameterType="ClusterPO">
    insert into cluster (id, name, type, config_file,
      config_file_md5, config_file_name, spu_conf, description,
      gmt_create, gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
    #{type,jdbcType=INTEGER},
    #{configFile,jdbcType=BLOB}, #{configFileMD5,jdbcType=VARCHAR},
    #{configFileName,jdbcType=VARCHAR}, #{spuConf,jdbcType=VARCHAR},  #{description,jdbcType=VARCHAR}, now(), now())
  </insert>
  <update id="updateCluster" parameterType="ClusterPO">
    update cluster set
      description = #{description},
      config_file = #{configFile},
      config_file_md5 = #{configFileMD5},
      config_file_name = #{configFileName},
      type=#{type},
      total_nodes=#{totalNodes},
      total_memory=#{totalMemory},
      total_cores=#{totalCores},
      spu_conf = #{spuConf},
      cluster_conf = #{clusterConf}
     where name = #{name}
  </update>

  <update id="updateClusterConf" parameterType="Map">
    update cluster set
      cluster_conf = #{clusterConf}
     where name = #{name}
  </update>
  <delete id="deleteCluster" parameterType="Map">
    delete from cluster
    where name = #{name}
  </delete>
</mapper>