<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="raptor.streaming.server.dao.ClusterDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="raptor.streaming.server.entity.ClusterEntity">
        <result column="id" property="id" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modify" property="gmtModify" />
        <result column="modifier" property="modifier" />
        <result column="creater" property="creater" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="config_file" property="configFile" />
        <result column="config_file_md5" property="configFileMd5" />
        <result column="config_file_name" property="configFileName" />
        <result column="spu_conf" property="spuConf" />
        <result column="cluster_conf" property="clusterConf" />
        <result column="description" property="description" />
        <result column="total_nodes" property="totalNodes" />
        <result column="total_memory" property="totalMemory" />
        <result column="total_cores" property="totalCores" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        gmt_create,
        gmt_modify,
        modifier,
        creater,
        name, type, config_file, config_file_md5, config_file_name, spu_conf, cluster_conf, description, total_nodes, total_memory, total_cores
    </sql>

</mapper>
